[submodule "external_conway99_research"]
	path = external_conway99_research
	url = https://github.com/YesterdaysLemon/conway-99-research.git
[submodule "tools/drat-trim"]
	path = tools/drat-trim
	url = https://github.com/marijnheule/drat-trim.git
